/* Temel App container'ı */
.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.content {
  background: linear-gradient(to right, rgb(0, 29, 127), rgba(1, 156, 236, 0.33));
  color: white;
  padding: 20px;
  width: 37%;
  display: flex;
  flex-direction: column;
}

input {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #21A1F1FF;
  width: 90%;
  background: rgba(0, 29, 127, 0.18);
  color: white;

}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #61dafb;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 93%;
  margin: 3px;
}

button:hover {
  background-color: #21a1f1;
}

.city-buttons button {
  background-color: #44aff3;
  color: #fff;
  margin: 5px;
  width: 45%;
  padding: 5px 10px;
  font-size: 12px;
}
.city-buttons button:hover {
  background-color: #21A1F1FF;
}
.footer {
  background-color: rgb(14, 17, 30);
  color: white;
  text-align: center;
  padding: 3px 0;
  font-size: 11px;
  position: fixed;
  bottom: 0;
  width: 100%;
}



