/* Temel App container'ı */
.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

/* Sol tarafa dayalı içerik alanı */
.content {
  background: linear-gradient(to right, rgb(0, 29, 127), rgba(1, 156, 236, 0.33));
  color: white;
  padding: 20px;
  width: 40%;
  display: flex;
  flex-direction: column;
}

/* Input alanı için stil */
input {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 90%;
  background: rgba(0, 29, 127, 0.18);
  color: white;

}

/* Güncelleme butonu */
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #61dafb;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 93%;
}

button:hover {
  background-color: #21a1f1;
}

/* Gereksiz olan logoyla ilgili animasyonlar ve medya sorguları kaldırıldı */
